.title {
  display: flex;
  justify-content: space-between;
  border: 1px solid #eee;
  padding: 0 20px;
}

.layout {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 800px;
}

.input-container {
  display: flex;
  background-color: #eee;
  border-radius: 12px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px;
}

.input-line {
  display: flex;
  gap: 20px;
  align-items: center;
}

.input {
  border: none;
  border-radius: 10px;
  font-weight: 700;
  height: 40px;
  width: 240px;
}

.input-label {
  font-weight: 700;
}

.add-btn {
  background-color: teal;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  height: 40px;
  width: 140px;
}