.title {
  display: flex;
  justify-content: space-between;
  border: 1px solid #eee;
  padding: 0 20px;
}

.layout {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 800px;
}

.input-container {
  display: flex;
  background-color: #eee;
  border-radius: 12px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px;
}

.input-line {
  display: flex;
  gap: 20px;
  align-items: center;
}

.input {
  border: none;
  border-radius: 10px;
  font-weight: 700;
  height: 40px;
  width: 240px;
}

.input-label {
  font-weight: 700;
}

.add-btn {
  background-color: teal;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  height: 40px;
  width: 140px;
}

.working {
  padding: 0 24px;
}

.done {
  padding: 0 24px;
}

.todo-list {
  display: flex;
  padding: 0 24px;
}

.todo-wrap {
  display: flex;
  flex-wrap: wrap;
}

.done-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.todo-container {
  border: 4px solid teal;
  border-radius: 12px;
  padding: 12px 24px 24px;
  width: 270px;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 24px;
}

.delete-btn {
  border: 2px solid red;
  border-radius: 12px;
  width: 130px;
  height: 40px;
  padding: 1px 6px;
  background-color: #ffffff;
}


.complete-btn {
  border: 2px solid green;
  border-radius: 12px;
  width: 130px;
  height: 40px;
  padding: 1px 6px;
  background-color: #ffffff;
}

.cancel-btn {
  border: 2px solid green;
  border-radius: 12px;
  width: 130px;
  height: 40px;
  padding: 1px 6px;
  background-color: #ffffff;
}